@model UserEditingViewModel

<form method="post" asp-action="Edit">
    <div class=" border p-3 mt-4">
        <div class=" row pb-2">
            <h2 class=" text-primary">Edit Person List </h2>
            <hr />
        </div>
        @* <div asp-validation-summary="All"></div>*@
        <div class="mb-3 ">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class=" form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class=" form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class=" form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class=" form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
         <div class="mb-3 ">
            <label asp-for="Email"></label>
            <input asp-for="Email" class=" form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="EGN"></label>
            <input asp-for="EGN" class=" form-control" />
            <span asp-validation-for="EGN" class="text-danger"></span>
        </div>
        <div>
            <label>Град</label>
            <select asp-for="CityId" class="form-control">
                @foreach (var item in Model.Cities)
                {
                    bool isSelected = item.Id == Model.CityId;
                    <option name="CityId" value="@item.Id" selected="@isSelected">@item.Name</option>
                }
            </select>
        </div>

        <div class="form-group" style="padding-top: 20px;">
            <label asp-for="@Model.BloodId">Кръвна група</label>
            <select asp-for="@Model.BloodId" class="form-control">
                <option value="1">A+</option>
                <option value="2">A-</option>
                <option value="3">B+</option>
                <option value="4">B-</option>
                <option value="5">AB+</option>
                <option value="6">AB-</option>
                <option value="7">0+</option>
                <option value="8">0-</option>
            </select>
            <span asp-validation-for="@Model.BloodId" class="small text-danger"></span>
        </div>

        <div class="form-group" style="padding-top: 20px;">
            <label asp-for="@Model.GenderId">Кръвна група</label>
            <select asp-for="@Model.GenderId" class="form-control">
                <option value="1">Мъж</option>
                <option value="2">Жена</option>
               
            </select>
            <span asp-validation-for="@Model.GenderId" class="small text-danger"></span>
        </div>

        <div style="padding-top:20px">
            <button type="submit" class="btn btn-primary" stype="width:130px">Update</button>

            <a asp-controller="UserControl" asp-action="" class=" btn btn-secondary" stype="width:130px">
                Back to list
            </a>
        </div>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }