@model CombinedViewModel

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <form id="requestFrom" method="post">


            @foreach (var request in Model.Requests)
            {
                bool hasBeenConfirmed = false;
                if (hasBeenConfirmed == false && request.PeopleToView != 0)
                {
                    foreach (var user in Model.UsersAcceptedRequests)
                    {
                        if (request.Id == user.RequestId)
                        {
                            hasBeenConfirmed = true;
                            break;
                        }
                    }
                }
                @if (hasBeenConfirmed == false && request.PeopleToView != 0)

                {
                    <div class="card" style=" padding: 25px 25px 25px 25px;">
                        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.clker.com%2Fcliparts%2FA%2Fg%2Fr%2FN%2FB%2FM%2Fblue-cross-md.png&f=1&nofb=1&ipt=ca47ee144fc7db6d9d149ed6832499a936c8e5c259658f5426ac2b0c4fe2050a&ipo=images" alt="Avatar" style="width:10%">
                        <div class="container">
                            <h4>
                                <b>
                                    Желана кръвна група:
                                    @switch (request.BloodId)
                                    {
                                        case 1:
                                            <text>A+</text>
                                            break;
                                        case 2:
                                            <text>A- </text>
                                            break;
                                        case 3:
                                            <text>B+ </text>
                                            break;
                                        case 4:
                                            <text>B- </text>
                                            break;
                                        case 5:
                                            <text>AB+ </text>
                                            break;
                                        case 6:
                                            <text>AB- </text>
                                            break;
                                        case 7:
                                            <text>0+ </text>
                                            break;
                                        case 8:
                                            <text>0- </text>
                                            break;
                                    }
                                </b>
                            </h4>
                            <p>Желан брой хора: @request.PeopleToView</p>
                            <p>
                                Град:
                                @foreach (var item in Model.Cities)
                                {
                                    bool isSelected = item.Id == request.CityId;
                                    if (isSelected)
                                    {
                                        <text> @item.Name</text>
                                    }
                                }
                            </p>
                            @if (User.IsInRole("Admin") || User.IsInRole("Medic"))
                            {
                                <a asp-controller="Request" asp-action="Delete" asp-route-id="@request.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i> Изтрий</a>
                                <a asp-controller="Request" asp-action="UserAcceptRequest" asp-route-id="@request.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i> Приеми</a>
                                <a asp-controller="Request" asp-action="ViewRequest" asp-route-id="@request.Id" class="btn btn-danger "> <i class="bi bi-person-dash-fill"></i> Прегледай</a>
                            }


                        </div>
                    </div>
                }


            }
        </form>
    }
</div>

